#identifiers {
    display: flex;
    gap: 2em;
    > * {
        margin: 0px;
        padding: 0px;
    }
}
.MarkdownEditor {
    grid-column: 1/-1;
}

#audit {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: left;
    white-space: nowrap;
}
