
.searchWidget {
    padding: 16px;
    width: 100%;
    
    tbody tr {
        cursor: pointer;
        &:hover {
            background-color: #141414;
            color: orange;
        }
        td {
            padding: 8px;
        }
    }
    
    a {
        line-height: 32px;
    }
}

