.ProductCard {
    &.ProductCard-Active {
        h3 {
            color: var(--highlightColour);
        }
        .addProduct { display: none;}
    }
    .padded > div {
        margin-top: 2em;
    }
}

