.test-runs {
    display: grid;
    line-height: 0px 32px;
    grid-template-columns: min-content 1fr 1fr;
    grid-gap: 32px;
    > .date {
        text-align: left;
        display: flex;
        justify-content: space-between;
        font-family: 'Courier New', Courier, monospace;
        > span:last-child {
            text-align: right;
        }
    }
    > .executor {
        padding-right: 1em;
    }
}

#test-case-list {
    .status, .securityGroup {
        text-align: left;
    }
    .manual {
        opacity: 0.6;
    }
    .Disabled {
        opacity: 0.6;
        text-decoration: line-through;
    }

}

dialog {
    &::backdrop {
        background: rgba(0,0,0,0.4);
    }
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    > div > p {
        margin-bottom: 1em;
    }
    .FormField {
        width: 100%;
    }
}
