.TestCaseEdit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    
    > * {
        grid-column: span 2;
        margin: 0px;
    }
    
    .verification {
        margin-top: 8px;
    }
}

.SpanOne {
    grid-column: span 1;
}
.SpanAll {
    grid-column: 1 / -1;
}

.childScriptList {
    > a {
        display: block;
    }
}

.content {
    display: grid;
    height: 100%;
    grid-template-rows: max-content auto min-content;
}

.Execution {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    > span { 
        text-transform: capitalize;
        text-align: right;
        vertical-align: middle;
        line-height: 32px;
    }
}
.ExecutionTime {
    grid-column: span 2;
    display: grid;
    grid-template-columns: auto auto;
    label {
        margin-right: 1em;
    }
    span {
        text-align: right;
    }
}

.Comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 10px;
    
    div {
        grid-column: span 2;
        margin-top: 1em;
        font-style: italic;
    }
    .date {
        text-align: right;
    }
}
