:root {
  --sectionBorder: #ccc;
  --linkColor: #1f54bb;
  --linkHover: #537daa;
  --background: #ffffff;
  --panelBackground: #f9f9f9;
  --text: #000000;
  --buttonColor: #6699d0;
  --buttonBackground: #ffffff;
  --buttonBackgroundHover: #e0e0e0;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --sectionBorder: #686868;
    --linkColor: #79a7ff;
    --linkHover: #a3c8ff;
    --background: #121212;
    --text: #ffffff;
    --panelBackground: rgba(255, 255, 255, 0.05);
    --buttonColor: #a3c8ff;
    --buttonBackground: #223;
    --buttonBorder: black;
    --buttonBackgroundHover: #53557f;
  }
  input {
    background-color: #222233;
    color: var(--buttonColor);
    padding: 4px;
    border: 1px solid black;
  }
  input:hover {
    border-color: var(--linkHover);
  }
  input:focus {
    outline: 2px solid var(--linkColor);
  }
}
body {
  margin: 0px;
}

a {
  color: var(--linkColor);
}
a:hover {
  color: var(--linkHover);
}

html {
  min-width: 320px;
  overflow: auto;
  background-color: var(--background);
  color: var(--text);
}

.Well {
  margin: 8px;
}

nav {
  background-color: var(--panelBackground);
  color: var(--linkColor);
  margin: 0px;
  display: block;
}
nav > * {
  padding: 8px;
}
nav > a {
  color: inherit;
  display: inline-block;
}
nav > a:hover {
  color: var(--linkHover);
}
nav > a > i {
  margin-right: 4px;
}
nav > a.active {
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
}
nav .right {
  float: right;
}
nav::after {
  content: "";
  display: table;
  clear: both;
}

main > nav > * {
  display: inline-block;
  vertical-align: top;
  margin: 0px 8px;
}
main > nav > nav {
  margin: 0px;
  display: block;
  border-bottom: 1px solid var(--sectionBorder);
}
main > nav > nav a {
  padding: 4px;
  display: inline-block;
  text-decoration: none;
  line-height: 15px;
  border-bottom: 1px solid transparent;
}
main > nav > nav a > span {
  margin-left: 4px;
  display: inline-block;
}

body > header {
  border-bottom: 1px solid var(--sectionBorder);
  background-color: var(--panelBackground);
}

.IconButton span {
  margin-left: 4px;
}

.button, .ComponentSection .ActionBar > *:not(div), button {
  padding: 6px 6px;
  border-radius: 0px;
  border-style: none;
  background-color: var(--buttonBackground);
  font-size: 14px;
  color: var(--buttonColor);
  border: 1px solid var(--buttonBorder, transparent);
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  margin: 4px;
}
.button:hover, .ComponentSection .ActionBar > :hover:not(div), button:hover {
  background-color: var(--buttonBackgroundHover);
}

h1 {
  font-size: 20pt;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

h2 {
  font-size: 17pt;
}

table.rowHover tbody tr:hover {
  background-color: var(--panelBackground);
}

.align-right {
  text-align: right;
}

.ComponentGrid {
  display: grid;
  gap: 16px;
  margin: 8px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.ComponentGrid > .ComponentSection {
  margin: 0px;
  display: block;
}

.ComponentSection {
  margin: 8px;
  border: 1px solid var(--sectionBorder);
  display: inline-grid;
  min-width: 300px;
  grid-template-rows: min-content min-content;
  align-content: space-between;
  vertical-align: top;
  background-color: var(--panelBackground);
}
.ComponentSection header.component-header {
  font-size: 14pt;
  font-weight: bold;
  padding: 4px;
  background-color: var(--panelBackground);
  font-family: system-ui, -apple-system, sans-serif;
}
.ComponentSection header.component-header.with-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.ComponentSection header.component-header.with-actions > div > * {
  vertical-align: top;
}
.ComponentSection .ActionBar {
  border-top: 1px outset #ccc;
  background-color: var(--panelBackground);
}
.ComponentSection .ActionBar > a {
  text-decoration: none;
}
.ComponentSection .ActionBar > a::after {
  content: "...";
  display: inline-block;
}
.ComponentSection .ActionBar .serverResponse {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
}

.component-body > table {
  width: 100%;
}
.component-body > table th {
  text-align: left;
}
.component-body > table th.align-right {
  text-align: right;
}
.component-body > table td, .component-body > table th {
  padding: 4px 8px;
}

.serverResponse {
  display: flex;
  min-height: 32px;
  transition: min-height 0.3s ease;
}
.serverResponse.blank {
  min-height: 0px;
}
.serverResponse > span {
  margin-right: 0px;
  width: 32px;
  padding: 0px 8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  padding-top: 1px;
}
.serverResponse > div {
  flex-grow: 1;
  line-height: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}
.serverResponse.error {
  background-color: #ffe0e0;
  border: 1px solid #ff8080;
  color: #800000;
}
.serverResponse.success {
  background-color: #e0ffe0;
  border: 1px solid #80ff80;
  color: #008000;
}
.serverResponse.info {
  background-color: #e0e0ff;
  border: 1px solid #8080ff;
  color: #000080;
}
.serverResponse.warning {
  background-color: #fff0e0;
  border: 1px solid #ffb070;
  color: #804000;
}

fieldset {
  border: 0px;
}

.processing {
  text-align: center;
  width: 26px;
  height: 26px;
}
.processing i {
  display: inline-block;
  text-align: center;
  animation: fa-spin 2s infinite linear;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}/*# sourceMappingURL=globals.css.map */