.ExecutionList {
    margin: 1em;
    box-sizing: border-box;
    width: calc(100% - 2em);
    > div {
        margin: 1em;
    }
}

.PASSED {
    color :   rgb(200, 255, 0);

}
.FAILED {
    color :   rgba(153, 49, 49, 0.881);
}
