.TypeFieldsetEditor {
    .CredentialProperty {
        display: inline-block;
        margin: 16px;
        border: 1px solid var(--sectionBorder);

        fieldset {
            display: inline-grid;
            grid-gap: 8px;
            padding: 8px;
        }
    }
}
